.inicio {
    margin-top: 3rem;
}

.iniciot {
    color: $color-secundario;
}

.subtitulos {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.p_index {
    animation-duration: 1s;
    animation-name: slidein;
}