body {
    background: $color-primario;
}

h1 {
    padding: 25px;
}


h2 {
    animation-duration: 1s;
    animation-name: slidein;
}

.titulo {
    margin-bottom: 2rem;
    color: $color-secundario;
}
